.card,
.legendCard {
  border-left: 3px solid;

  width: fit-content;
  margin: 10px;
  margin-left: 5%;

  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.legendCard {
  opacity: 65%;
  border-radius: 5px;
  border: none;
}

.textItem,
.input {
  margin: 5px;
  font-size: 18px;
  text-align: left;
  width: 100px;
}

.input {
  background: none;
  border: 2px solid #5476dd;
}

.modifyBtn {
  color: white;
  background-color: #5476dd;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 3px;
  transition: all 0.1s ease-in-out;
}

.actionBtn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}

.modifyBtn:hover,
.actionBtn:hover {
  transform: translate(1.5px, 1.5px);
  cursor: pointer;
}
