.newExpBtn {
  width: clamp(250px, 80%, 800px);
  margin: 10px;
  margin-left: 5%;

  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background-color: #5476dd;
  color: white;
  font-size: 18px;
  padding: 4px;

  opacity: 65%;
  border-radius: 5px;
  border: 2px solid;

  transition: all 0.08s ease-in-out;
}

.newExpBtn:hover {
  background-color: white;
  border-color: black;
  color: #5476dd;
  cursor: pointer;
}

@media (max-width: 610px) {
  .newExpBtn {
    width: clamp(230px, 90%, 330px);
  }
}
