.header {
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 20px;
  background: linear-gradient(to right, #eef2f8, #f5f7f9);
  border-radius: 5px;
  z-index: 100;
  color: #5476dd;
}

.logoText {
  margin: 0;
  display: inline;
}

@media (max-width: 470px) {
  .header {
    font-size: 20px;
  }
}
