.container {
  margin: 0 20px 10px 0;
  height: fit-content;
  max-height: 250px;
  max-width: 250px;

  overflow-y: scroll;
  overflow-x: hidden;
}

.colorKey {
  height: 10px;
  width: 10px;
  border: 2px solid black;
  display: inline-block;
  margin-top: 8px;
}

.expenseContainer {
  margin: 5px;
  width: 100%;

  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
}

.legendLabel {
  text-decoration: underline;
  font-size: 18px;
}

.expenseLabel {
  text-align: left;
  margin: 5px;
  font-size: 16px;
  width: 100%;
}
