.section {
  margin: 50px 0;
  padding: 18px 0;
  border-radius: 5px;
  box-shadow: -2px -2px 5px #dfe2e7 inset, 2px 2px 3px #dfe2e7 inset;

  text-align: center;
}

.sectionHeading {
  margin: 15px;
  margin-top: 0;
}
